/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}
mark, rp, rt, ruby, summary, time {
	display: inline
}
/* Global properties ======================================================== */

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 75px;
    text-align: left;
}
input {
  display: inline-block;
  width: 250px;
  float: left;
}

body {	
	font-family: 'PT Serif Caption', serif;
	font-size:14px;
	line-height:24px;
	color:#343434;
	min-width:1020px;
	background:url(../images/bg-body.gif) #e6e4d7;
	text-transform:uppercase
}
html, body {
	height:100%;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	padding:0;
	overflow:hidden
}
p {
	padding-bottom:18px;

}


a {
	color:#fff;
	text-decoration:none;
}
h1 {
	float:left;
	display:block;
	position:relative;
	z-index:10;
}

h1 a {
	display:block;
}

h2,h3,h4,h5,h6{
font-family: 'PT Serif Caption', serif;
font-weight:normal;
color:#343434} 
h3 {	
	font-size:35px;
	line-height:38px;	
	padding:33px 0 18px;
	text-shadow:0 1px 2px #c5c2a9;
	
}
h3 span {color:#D53827;
	display:block;
	margin-bottom:-9px;}
h3 strong{font-weight:normal;color:#d53827}	
h3 em{color:#999;
font-size:20px;
line-height:24px;
display:block;
font-style:normal}	
	
h4 {
	font-size:20px;
	line-height:28px;
	display:block;
	color:#d53827;}

h5 {
	color:#fff;
	font-size:15px;
	line-height:18px;
	padding:0 0 8px 0;
	font-weight:normal;
}
h6 {
	color:#2d2f38;
	font-size:20px;
	line-height:20px;
	padding:0 0 19px 0;
	font-weight:bold;
}

.padd-1{padding-top:11px}
.padd-2{padding-top:15px}
.inner-1{padding-right:35px}

.relative {
	position:relative
}

/* Global Structure ============================================================= */


.main {
	margin: 0 auto;
	position: relative;
	width: 940px;}

.overflow {overflow:hidden;}

/* Header */


header {	
	padding:0;
	position: relative;
	z-index:99;
	background:url(../images/tail-header.gif);
}

.line-top{
	background:url(../images/line-top.gif) repeat-x  0 0;
    height:7px;
}

.row-top{padding:21px 0 14px}
/* Content */
#content {
	position:relative;
}

/* Left & Right alignment */

.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear:both;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
.overflow {
	overflow:hidden;
}
/*----- other -----*/
.img-indent {
	float:left;
	margin:1px 30px 0 0
}
.img-indent1 {	
	margin:4px 0 24px 0
}

/*===== content =====*/

#content {
	padding:0 0 44px;
	background:url(../images/tail-cont.gif)
}

.border-horiz{background:url(../images/border-horiz.gif) repeat-x 0  0;height:2px}
.border-horiz.extra{margin-top:40px}
.border-horiz.extra1{margin-top:24px}
.box-slogan{text-align:center;width:940px;margin:0 auto;padding-bottom:15px}
.box-slogan h3{padding-bottom:12px}

.thumbnail-1 figure{margin-bottom:18px}
.box-img{
	padding:10px;
	background:#fff;
    border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	 box-shadow:0 0 3px #c5c2a9;
	-moz-box-shadow: 0 0 3px #c5c2a9;
	-webkit-box-shadow:0 0 3px #c5c2a9;
	display:inline-block
	}
.box-img img{	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;}
	
.row-1{padding-bottom:40px}	
.quote-1{
font-style:italic;
position:relative;
padding-left:30px}	
.quote-1:before{
width:27px;
height:21px;
position:absolute;content:"";
background:url(../images/quote-part.png) no-repeat 0 0;
left:0;
top:0}
.name-author{
text-align:right;
color:#D53827;
font-style:italic}

.list-popular.news{padding-right:22px}
.list-popular a{
font-size:20px;
color:#d53827;
line-height:24px;
margin-bottom:2px;
display:inline-block}
.list-popular a:hover{color:#343434}

.list-dropcap{overflow:hidden;margin-left:-25px;padding-top:25px}
.list-dropcap li{float:left;width:190px;margin-left:25px}
.list-dropcap a{
color:#343434;
font-size:20px;
line-height:24px}
.list-dropcap a:hover{color:#d53827;}

.dropcap{float:left;width:54px;
background:#d53827;
border-radius:26px;
-moz-border-radius:26px;
-webkit-border-radius:26px;
font-size:45px;
line-height:48px;
text-transform:uppercase;
color:#fff;
text-align:center;
padding:1px 0 5px;
margin:0 12px 18px 0
}
.list-dropcap1{padding-top:10px}
.list-dropcap1 .dropcap{background:#000;margin-bottom:8px}
.list-dropcap1 li{padding-bottom:32px}
.list-dropcap1 h4{color:#343434;line-height:24px}	
.side-bar{
width:280px;
float:left;
margin:20px 20px 0 -30px;
padding:0 10px 7px 40px;
background:#fff;
    border-radius:18px;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	 box-shadow:0 0 3px #c5c2a9;
	-moz-box-shadow: 0 0 3px #c5c2a9;
	-webkit-box-shadow:0 0 3px #c5c2a9;
}	
.side-bar.extra{padding:18px 10px 0 40px}	
.side-bar.extra1{padding:0px 20px 27px 30px}		
.list-1 {padding:6px 0 23px}

.list-1 li {
	background:url(../images/marker-1.png) no-repeat 7px 10px;
	padding:0 0 0 20px;
	display:block;
	line-height:24px;
}
.list-1 li a {
	display:inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color:#d53827;
}
.list-1 li a:hover{color:#343434}

.list-teachers{}
.list-teachers li{padding-bottom:25px}
.list-teachers li figure{float:left;margin-right:30px}

.list-recipes{}
.list-recipes li figure{float:left;margin-right:30px}
.list-recipes li h4{padding-top:14px}
.list-recipes li{padding-bottom:30px}
.list-recipes.extra h4{padding-top:10px}

.privacy {
	width:750px;
	padding:0 0 0 0
}

/*----- lists -----*/


/*----- links -----*/
.link-1{color:#d53827}
.link-1:hover{text-decoration:none;
color:#343434}

/*----- btns -----*/
.wrapper {
    text-align: center;
}
.add-btn {
	display:inline-block;
	color:#fff;
	padding:8px 16px;
	background:#db3222;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    box-shadow:0 1px 2px #c5c2a9;
	-moz-box-shadow: 0 1px 2px #c5c2a9;
	-webkit-box-shadow:0 1px 2px #c5c2a9;
	vertical-align: center;
	width: 300px;  
	height: 50px;
}

.btn {
	display:inline-block;
	color:#fff;
	padding:8px 16px;
	background:#db3222;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    box-shadow:0 1px 2px #c5c2a9;
	-moz-box-shadow: 0 1px 2px #c5c2a9;
	-webkit-box-shadow:0 1px 2px #c5c2a9;
}
.btn:hover {
	background:#2e2e2e
}


